.tweet-container {
  @extend .column-3;
  @extend .column-ml-6;
  @extend .column-tp-4;
  @extend .column-tl-3;
  @extend .column-3;

  border: 5px solid transparent;
}

.tweet {
  font-size: $font-size;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.tweet-body {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.tweet-image{
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  width: 100%;
}

.tweet-footer {
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  background-color: #f5f5f5;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

/*
body > *:nth-child(5n+1) {
  clear: left;
}*/

/* border-box doesn`t include margin */
